<th:block xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:fragment="end">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->	
	<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
	<script th:src="@{/webjars/jquery/3.5.1/jquery.slim.min.js}"></script>
	
	<!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>-->
	<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
	
	<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>-->
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
	
	<script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
	<script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF/jspdf.min.js"></script>
	<script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>

	<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
	<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.17.1/bootstrap-table.min.js"></script>
	<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/toolbar/bootstrap-table-toolbar.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.17.1/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.17.1/extensions/resizable/bootstrap-table-resizable.min.js"></script>
	
	<script src="https://unpkg.com/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.js"></script>

	<script src="/js/store.js"></script>
	<script src="/js/dark-mode-switch.min.js"></script>
	
	<!-- MDB -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0-alpha4/mdb.min.js"></script>
	
	<!-- chart.js -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
	
	<!-- chart.js -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

	<script>
		$(function(){
		  $("table").resizableColumns({
			store: window.store
		  });
		});
	</script>

	<!-- Fullscreen Button -->
	<script>
		var $table = $('#table')
		var $button = $('#button')

		$(function() {
			$button.click(function () {
			  $table.bootstrapTable('toggleFullscreen')
			})
		  })
	</script>
	
	<script>
	  $(function() {
		$('#table').bootstrapTable()
	  })
	</script>
	
	<script>
		$('#table').on('click-cell.bs.table', onClickCell);

		/* Hide a Columns */
		$('#table').bootstrapTable('hideColumn', 'one');

		/* Displey what we get */
		function onClickCell(event, field, value, row, $element) {
		  $('.clicked-text').text($element.text());
		  $('.clicked-field').text(field);
		  $('.clicked-value').text(value);
		  $('.alert').removeClass('hidden');
		}
	</script>
  
	<!--<script th:src="@{/script.js}"></script>-->
  
</th:block>