<head xmlns:th="http://www.thymeleaf.org">

	<meta charset="UTF-8"/>
	<title th:text="${title}">Hello, template</title>
	<meta name="description" content="Web browser bookmark organizer"> 
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<meta property="og:title" content="bookmarc">
    <meta property="og:description" content="Web browser bookmark organizer">
    <meta property="og:url" content="anantharajuc.github.io">
	
	<link rel="author" href="anantharajuc.github.io">
	
	<!-- Bootstrap CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet"> 
	<link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css"/>

	<!-- Darkmode CSS -->
	<link href="/css/dark-mode.css" rel="stylesheet"> 

	<link href="/css/bootstrap-table.min.css" rel="stylesheet">
	<link href="/css/jquery-ui.css" rel="stylesheet">
	<link href="/css/jquery.resizableColumns.css" rel="stylesheet">
	
	<!-- Font Awesome -->
	<link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet"/>
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
	<!-- MDB -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0-alpha4/mdb.min.css" rel="stylesheet"/>
	
	<!-- chart.js -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css" rel="stylesheet"/>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" rel="stylesheet"/>
	
	<link rel="stylesheet" th:href="@{/styles.css}"/>
	
</head>