<head xmlns:th="http://www.thymeleaf.org">

	<meta charset="UTF-8"/>
	<title th:text="${title}">Hello, template</title>
	<meta name="description" content="Spring Boot Application Template"> 
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<meta property="og:title" content="Spring Boot Application Template">
    <meta property="og:description" content="Spring Boot Application Template">
    <meta property="og:url" content="anantharajuc.github.io">
	
	<link rel="author" href="anantharajuc.github.io">
	
	<!-- Bootstrap CSS -->
	<link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
	<link href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css" rel="stylesheet"/>

	<!-- Darkmode CSS -->
	<link href="/css/dark-mode.css" rel="stylesheet"> 

	<link href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css" rel="stylesheet">
	<link href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
	<link href="https://unpkg.com/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.css" rel="stylesheet">
	
	<!-- Font Awesome -->
	<link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet"/>
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
	<!-- MDB -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0-alpha4/mdb.min.css" rel="stylesheet"/>

</head>