<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

  <a class="navbar-brand" href="https://github.com/Spring-Boot-Framework/Spring-Boot-Application-Template" target="_blank" rel="noopener noreferrer">
	  <img src="/images/bootstrap-solid.svg" width="30" height="30" alt="" loading="lazy">
	  SBAT
  </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
	
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
		   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
		   th:text="${#strings.toUpperCase(#locale)}">
		</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			<a class="dropdown-item" th:href="@{/sbat/index/(lang=en)}">English</a>
			<a class="dropdown-item" th:href="@{/sbat/index/(lang=es)}">Spanish</a>
		</div>
	</li>
      <li class="nav-item">
        <a class="nav-link" href="/sbat/index" th:text="#{navbar.home.text}"></i><span class="sr-only">(current)</span></a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/sbat/about" th:text="#{navbar.about.text}"></span></a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/sbat/tech-stack" th:text="#{navbar.tech-stack.text}"></span></a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/sbat/form" th:text="#{navbar.form.text}"></span></a>
      </li>

	 <!-- <li th:if="${#authorization?.expression('!isAuthenticated()')}">
	 <li sec:authorize="!isAuthenticated()">
		<a th:href="@{/sbat/login}" th:text="#{navbar.login.text}" />
	  </li> -->
	  
     </ul>   
   
   <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
   
		<ul class="navbar-nav ml-auto nav-flex-icons">		
			  <li class="nav-item">
				<a class="nav-link waves-effect waves-light" href="https://github.com/Spring-Boot-Framework/Spring-Boot-Application-Template" target="_blank" rel="noopener noreferrer"><i class="fab fa-github" aria-hidden="true"></i></a>
			  </li>  
		</ul>
	</ul>
   
   </br>
   
   <div class="custom-control custom-switch mr-1">
            <input type="checkbox" class="custom-control-input" id="darkSwitch">
            <label class="custom-control-label" for="darkSwitch" th:text="#{navbar.dark-mode.text}"></label>
   </div>
   
   </br>

    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success mr-1" type="submit" th:text="#{navbar.refresh.text}"></button> 
    </form>
	
	<form id="f" th:action="@{/logout}" method="post" role="form" class="navbar-form">
			<button type="submit" th:text="#{navbar.logout.text}" class="btn btn-outline-danger mr-1" />
	</form>

	<a class="btn btn-outline-danger" type="submit" href="/sbat/close" role="button" th:text="#{navbar.close-app.text}"></a>
	
  </div> 
  </br>
  </br>
</nav>