<!-- Social -->
<div class="text-center">
	<a class="fb-ic mr-3" role="button" href="https://www.facebook.com/"><i class="fab fa-lg fa-facebook-f" aria-hidden="true"></i></a>
	<a class="tw-ic mr-3" role="button" href="https://twitter.com/"><i class="fab fa-lg fa-twitter" aria-hidden="true"></i></a>
	<a class="li-ic mr-3" role="button" href="https://www.linkedin.com/"><i class="fab fa-lg fa-linkedin-in" aria-hidden="true"></i></a>
	<a class="ins-ic mr-3" role="button" href="https://www.instagram.com/"><i class="fab fa-lg fa-instagram" aria-hidden="true"></i></a>
	<a class="pin-ic mr-3" role="button" href="https://www.pinterest.com/"><i class="fab fa-lg fa-pinterest" aria-hidden="true"></i></a>
	<a class="vk-ic mr-3" role="button" href="https://vk.com/"><i class="fab fa-lg fa-vk" aria-hidden="true"></i></a>
	<a class="so-ic mr-3" role="button" href="https://stackoverflow.com/"><i class="fab fa-lg fa-stack-overflow" aria-hidden="true"></i></a>
	<a class="yt-ic mr-3" role="button" href="https://www.youtube.com/"><i class="fab fa-lg fa-youtube" aria-hidden="true"></i></a>
	<a class="slack-ic mr-3" role="button" href="https://slack.com/"><i class="fab fa-lg fa-slack-hash" aria-hidden="true"></i></a>
	<a class="git-ic mr-3" role="button" href="https://github.com/Spring-Boot-Framework/Spring-Boot-Application-Template"><i class="fab fa-lg fa-github" aria-hidden="true"></i></a>
	<a class="comm-ic mr-3" role="button" href="https://www.discourse.org/"><i class="fas fa-lg fa-comments" aria-hidden="true"></i></a>
	<a class="email-ic mr-3" role="button" href="email@example.com"><i class="far fa-lg fa-envelope" aria-hidden="true"></i></a>
	<a class="dribbble-ic mr-3" role="button" href="https://dribbble.com/"><i class="fab fa-lg fa-dribbble" aria-hidden="true"></i></a>
	<a class="reddit-ic mr-3" role="button" href="https://www.reddit.com/"><i class="fab fa-lg fa-reddit-alien" aria-hidden="true"></i></a>
	<a class="whatsapp-ic" role="button" href="https://www.whatsapp.com/"><i class="fab fa-lg fa-whatsapp" aria-hidden="true"></i></a>
</div>