<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
			    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
			    xmlns:with="http://www.thymeleaf.org/extras/with"
			   layout:decorate="~{layout}"
			   with:title="'About'">

<th:block layout:fragment="content">

<body data-spy="scroll" data-target="#toc">

		<div class="row">	
			<!-- sidebar, which will move to the top on a small screen -->
			<div class="col-sm-3">
			
			 </br>
			 </br>
			 
			<nav id="toc" data-toggle="toc" class="sticky-top"></nav>
		</div>
	
    <!-- main content area -->
    <div class="col-sm-9">

	<!-- README.ms start -->
	
	<h1 id="spring-boot-application-template-starter-project-build-status-https-travis-ci-org-spring-boot-framework-spring-boot-application-template-svg-branch-master-https-travis-ci-org-spring-boot-framework-spring-boot-application-template-">Spring Boot Application Template/Starter-Project <a href="https://travis-ci.org/Spring-Boot-Framework/Spring-Boot-Application-Template"><img src="https://travis-ci.org/Spring-Boot-Framework/Spring-Boot-Application-Template.svg?branch=master" alt="Build Status"></a></h1>
<p>The only thing better than a Maven archetype is a repo you can fork with everything already setup, just fork-and-code.</p>
<p>This repository contains a recipe/scaffolding for bootstrapping a Web Application with the features &amp; Technology stack listed below. Delete the sample code (or keep it.) and add your own, you’re good to go.</p>
<p><a href="code_of_conduct.md"><img src="https://img.shields.io/badge/Contributor%20Covenant-v2.0%20adopted-ff69b4.svg" alt="Contributor Covenant"></a>
   <a href="https://app.fossa.io/projects/git%2Bgithub.com%2FSpring-Boot-Framework%2FSpring-Boot-Application-Template?ref=badge_shield"><img src="https://app.fossa.io/api/projects/git%2Bgithub.com%2FSpring-Boot-Framework%2FSpring-Boot-Application-Template.svg?type=shield" alt="FOSSA Status"></a>
</p>
<p><img src="https://img.shields.io/github/last-commit/anantharajuc/Spring-Boot-Application-Template" alt="GitHub last commit">
   <a href="https://github.com/Spring-Boot-Framework/Spring-Boot-Application-Template/issues"><img src="https://img.shields.io/github/issues/Spring-Boot-Framework/Spring-Boot-Application-Template" alt="GitHub issues"></a>
   <a href="https://github.com/Spring-Boot-Framework/Spring-Boot-Application-Template/network"><img src="https://img.shields.io/github/forks/Spring-Boot-Framework/Spring-Boot-Application-Template" alt="GitHub forks"></a>
   <a href="https://github.com/Spring-Boot-Framework/Spring-Boot-Application-Template/stargazers"><img src="https://img.shields.io/github/stars/Spring-Boot-Framework/Spring-Boot-Application-Template" alt="GitHub stars"></a>
   <img src="https://img.shields.io/github/languages/count/Spring-Boot-Framework/Spring-Boot-Application-Template" alt="GitHub language count">
   <img src="https://img.shields.io/github/languages/code-size/Spring-Boot-Framework/Spring-Boot-Application-Template" alt="GitHub code size in bytes">
   <img src="https://img.shields.io/github/repo-size/Spring-Boot-Framework/Spring-Boot-Application-Template" alt="GitHub repo size">
   <img src="https://img.shields.io/github/languages/top/Spring-Boot-Framework/Spring-Boot-Application-Template.svg" alt="GitHub top language"> 
   <img src="https://img.shields.io/github/issues-pr-raw/Spring-Boot-Framework/Spring-Boot-Application-Template" alt="GitHub pull requests">
   <img src="https://img.shields.io/github/tag/Spring-Boot-Framework/Spring-Boot-Application-Template.svg" alt="GitHub tag (latest SemVer)"> 
   <a href="https://www.codetriage.com/spring-boot-framework/spring-boot-application-template"><img src="https://www.codetriage.com/spring-boot-framework/spring-boot-application-template/badges/users.svg" alt="Open Source Helpers"></a>
</p>
<p><a href="https://codecov.io/gh/Spring-Boot-Framework/Spring-Boot-Application-Template"><img src="https://codecov.io/gh/Spring-Boot-Framework/Spring-Boot-Application-Template/branch/master/graph/badge.svg" alt="codecov"></a>
   <a href="https://www.codacy.com/gh/Spring-Boot-Framework/Spring-Boot-Application-Template?utm_source=github.com&amp;utm_medium=referral&amp;utm_content=Spring-Boot-Framework/Spring-Boot-Application-Template&amp;utm_campaign=Badge_Grade"><img src="https://app.codacy.com/project/badge/Grade/4bc5385252064f0e908f445b1eba184b" alt="Codacy Badge"></a>
   <a href="https://sonarcloud.io/dashboard?id=Spring-Boot-Framework_Spring-Boot-Application-Template"><img src="https://sonarcloud.io/api/project_badges/measure?project=Spring-Boot-Framework_Spring-Boot-Application-Template&amp;metric=alert_status" alt="Quality Gate Status"></a>
</p>
<p><a href="https://microbadger.com/images/anantha/spring-boot-application-template"><img src="https://images.microbadger.com/badges/image/anantha/spring-boot-application-template.svg" alt=""></a>
   <a href="https://microbadger.com/images/anantha/spring-boot-application-template"><img src="https://images.microbadger.com/badges/version/anantha/spring-boot-application-template.svg" alt=""></a>
   <img src="https://img.shields.io/docker/image-size/anantha/spring-boot-application-template" alt="Docker Image Size (latest by date)">
</p>
<p><a href="https://app.getpostman.com/run-collection/485bb945b088c6fd471e"><img src="https://run.pstmn.io/button.svg" alt="Run in Postman"></a></p>
<p align="center">
   <a alt="Java">
   <img src="https://img.shields.io/badge/Java-v1.8-orange.svg" />
   </a>
   <a alt="Bootstrap">
   <img src="https://img.shields.io/badge/Bootstrap-v4.0.0-yellowgreen.svg">
   </a>
   <a alt="Material">
   <img src="https://img.shields.io/badge/Material%20Design-UI-orange.svg"><br>    </a><br>    <a alt="Docker">
   <img src="https://img.shields.io/badge/Docker-v19-yellowgreen.svg" />
   </a>
   <a alt="License">
   <img src="https://img.shields.io/badge/license-MIT-blue.svg" />
   </a>
</p>
<h2 id="table-of-contents">Table of Contents</h2>
<ul>
   <li><a href="#application-screenshots">Application screenshots</a></li>
   <li><a href="#internationalization-(i18n)">Internationalization (i18n)</a></li>
   <li>
      <a href="#tech-stack---open-source-libraries">Tech stack &amp; Open-source libraries</a>
      <ul>
         <li><a href="#data">Data</a></li>
         <li><a href="#client---frontend-ui">Client - Frontend/UI</a></li>
         <li><a href="#server---backend">Server - Backend</a></li>
         <li><a href="#libraries-and-plugins">Libraries and Plugins</a></li>
         <li><a href="#others">Others</a></li>
         <li><a href="#external-tools---services">External Tools &amp; Services</a></li>
      </ul>
   </li>
   <li><a href="#to-do">To-Do</a></li>
   <li><a href="#running-the-application-locally">Running the application locally</a></li>
   <li><a href="#running-the-application-via-docker-container">Running the application via docker container</a></li>
   <li>
      <a href="#security">Security</a>
      <ul>
         <li><a href="#looking-for-something-in-particular-">Looking for something in particular?</a></li>
         <li><a href="#api-rate-limiting">API Rate Limiting</a></li>
         <li><a href="#preventing-brute-force-authentication-attempts">Preventing Brute Force Authentication Attempts</a></li>
         <li><a href="#session-timeout">Session Timeout</a></li>
      </ul>
   </li>
   <li>
      <a href="#explore-rest-apis">Explore Rest APIs</a>
      <ul>
         <li><a href="#urls">URLs</a></li>
         <li><a href="#other-urls">Other URLs</a></li>
         <li><a href="#actuator">Actuator</a></li>
         <li>
            <a href="#person-urls">Person URLs</a>
            <ul>
               <li><a href="#accessible-to---johndoe---user-only">Accessible to <strong>johndoe</strong> user only</a></li>
            </ul>
         </li>
         <li>
            <a href="#person-management-urls">Person Management URLs</a>
            <ul>
               <li><a href="#role-and-permission-based-secure-access-to---adminuser---and---admintrainee---users">Role and Permission based secure access to <strong>AdminUser</strong> and <strong>AdminTrainee</strong> users</a></li>
            </ul>
         </li>
      </ul>
   </li>
   <li><a href="#sample-valid-json-request-bodys">Sample Valid JSON Request Bodys</a></li>
   <li><a href="#documentation">Documentation</a></li>
   <li><a href="#eer-diagram">EER Diagram</a></li>
   <li><a href="#files-and-directories-structure">Files and Directories Structure</a></li>
   <li><a href="#packages">Packages</a></li>
   <li><a href="#reporting-issues-suggest-improvements">Reporting Issues/Suggest Improvements</a></li>
   <li><a href="#FOSSA-third-party-code,-license-compliance-and-vulnerabilities">FOSSA third-party code, license compliance and vulnerabilities</a></li>
</ul>
<h2 id="application-screenshots">Application screenshots</h2>
<p><img src="images\home.PNG"/>
   <img src="images\login.PNG"/>
   <img src="images\about.PNG"/>
</p>
<h2 id="#internationalization-(i18n)">Internationalization (i18n)</h2>
<p>This app can be adapted to various languages and regions without engineering changes. Textual elements, such as status messages and the GUI component labels, are not hardcoded in the program. Instead they are stored outside the source code and retrieved dynamically.</p>
<p>Refer `io.github.anantharajuc.sbat.backend.config.I18Nconfiguration`. The text elements are stored in `\src\main\resources\i18n` folder.</p>
<h2 id="tech-stack-open-source-libraries">Tech stack &amp; Open-source libraries</h2>
<h3 id="data">Data</h3>
<ul>
   <li><a href="https://flywaydb.org/">Flyway</a> - Version control for database</li>
   <li><a href="https://www.mysql.com/">MySQL</a> - Open-Source Relational Database Management System</li>
</ul>
<h3 id="client-frontend-ui">Client - Frontend/UI</h3>
<ul>
   <li><a href="https://getbootstrap.com/">Bootstrap</a> - Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first front-end web development.</li>
   <li><a href="https://bootstrap-table.com/">Bootstrap Table</a> - An extended table to the integration with some of the most widely used CSS frameworks.</li>
   <li><a href="https://www.thymeleaf.org/">Thymeleaf</a> - Modern server-side Java template engine for both web and standalone environments.</li>
</ul>
<h3 id="server-backend">Server - Backend</h3>
<ul>
   <li><a href="http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html">JDK</a> - Java™ Platform, Standard Edition Development Kit</li>
   <li><a href="https://spring.io/projects/spring-boot">Spring Boot</a> - Framework to ease the bootstrapping and development of new Spring Applications</li>
   <li><a href="https://maven.apache.org/">Maven</a> - Dependency Management</li>
</ul>
<h3 id="libraries-and-plugins">Libraries and Plugins</h3>
<ul>
   <li><a href="https://afeld.github.io/bootstrap-toc/">Bootstrap ToC</a> - Table of Contents plugin for Bootstrap</li>
   <li><a href="https://github.com/Antibrumm/thymeleaf-extras-with-dialect">Thymeleaf With Dialect</a> - A dialect for Thymeleaf that allows you to use attributes with a &quot;with&quot; prefix to avoid having long &quot;th:with&quot;-expressions.</li>
   <li><a href="https://github.com/ultraq/thymeleaf-layout-dialect">Thymeleaf Layout Dialect</a> - A dialect for Thymeleaf that lets you build layouts and reusable templates in order to improve code reuse.</li>
   <li><a href="https://projectlombok.org/">Lombok</a> - Never write another getter or equals method again, with one annotation your class has a fully featured builder, Automate your logging variables, and much more.</li>
   <li><a href="https://swagger.io/">Swagger</a> - Open-Source software framework backed by a large ecosystem of tools that helps developers design, build, document, and consume RESTful Web services.</li>
   <li><a href="https://github.com/vladimir-bukhtoyarov/bucket4j">Bucket4j</a> - Java rate limiting library based on token/leaky-bucket algorithm.</li>
</ul>
<h3 id="others">Others</h3>
<ul>
   <li><a href="https://git-scm.com/">git</a> - Free and Open-Source distributed version control system</li>
   <li><a href="https://prometheus.io/">Prometheus</a> - Monitoring system and time series database</li>
</ul>
<h3 id="external-tools-services">External Tools &amp; Services</h3>
<ul>
   <li><a href="https://www.getpostman.com/">Postman</a> - API Development Environment (Testing Docmentation)</li>
   <li><a href="https://docs.postman-echo.com/?version=latest">Postman Echo</a> - A service that can be used to test your REST clients and make sample API calls. It provides endpoints for GET, POST, PUT, various auth mechanisms and other utility endpoints.</li>
   <li><a href="https://travis-ci.org/github/Spring-Boot-Framework/Spring-Boot-Application-Template">Travis CI</a> - A hosted continuous integration service used to build and test software projects hosted at GitHub and Bitbucket.</li>
   <li><a href="https://codecov.io/gh/Spring-Boot-Framework/Spring-Boot-Application-Template">Codecov</a> - A hosted tool that is used to measure the test coverage of your codebase.</li>
   <li><a href="https://dependabot.com/">Dependabot</a> - Automated dependency updates.</li>
   <li><a href="https://fossa.com/">FOSSA</a> - Scalable, end-to-end management for third-party code, license compliance and vulnerabilities.</li>
   <li><a href="https://sonarcloud.io/dashboard?id=Spring-Boot-Framework_Spring-Boot-Application-Template">sonarcloud</a> - Cloud-based code analysis service designed to detect code quality issues continuously ensuring the maintainability, reliability and security of code.</li>
</ul>
<h2 id="to-do">To-Do</h2>
<ul>
   <li>[x] Logger (Console, File)</li>
   <li>[x] RESTful Web Service (CRUD)</li>
   <li>[x] <a href="https://spring.io/blog/2013/05/11/content-negotiation-using-spring-mvc">Content Negotiation</a></li>
   <li>[x] <a href="https://en.wikipedia.org/wiki/Light-on-dark_color_scheme">Dark Mode</a></li>
   <li>[x] <a href="https://spring.io/projects/spring-security">Spring Security</a> RBAC, Session Timeout</li>
   <li>[x] API <a href="https://en.wikipedia.org/wiki/Rate_limiting">Rate Limiting</a></li>
   <li>[x] <a href="https://docs.spring.io/spring-data/jpa/docs/1.7.0.DATAJPA-580-SNAPSHOT/reference/html/auditing.html">JPA Auditing via AuditorAware Interface</a></li>
   <li>[x] <a href="https://docs.spring.io/spring-boot/docs/current/reference/html/spring-boot-features.html#boot-features-profiles">Spring Profiles</a></li>
   <li>[x] <a href="https://www.docker.com/">Docker</a></li>
   <li>[x] <a href="https://docs.spring.io/spring-boot/docs/2.1.6.RELEASE/reference/html/boot-features-caching.html">Caching</a></li>
   <li>[ ] Shut down app on button click via actuator url </li>
   <li>[ ] HATEOS</li>
   <li>[ ] Spring Boot Admin</li>
   <li>[ ] NoSQL (MongoDB)</li>
   <li>[ ] Multitenancy</li>
   <li>[ ] Micrometer</li>
   <li>[ ] Grafna</li>
</ul>
<h2 id="running-the-application-locally">Running the application locally</h2>
<p>There are several ways to run a Spring Boot application on your local machine. One way is to execute the <code>main</code> method in the <code>com.arc.sbtest.SBtemplateApplication</code> class from your IDE.</p>
<ul>
   <li>Download the zip or clone the Git repository.</li>
   <li>Unzip the zip file (if you downloaded one)</li>
   <li>Open Command Prompt and Change directory (cd) to folder containing pom.xml</li>
   <li>
      Open Eclipse
      <ul>
         <li>File -&gt; Import -&gt; Existing Maven Project -&gt; Navigate to the folder where you unzipped the zip</li>
         <li>Select the project</li>
      </ul>
   </li>
   <li>Choose the Spring Boot Application file (search for @SpringBootApplication)</li>
   <li>Right Click on the file and Run as Java Application</li>
</ul>
<p>Alternatively you can use the <a href="https://docs.spring.io/spring-boot/docs/current/reference/html/build-tool-plugins-maven-plugin.html">Spring Boot Maven plugin</a> like so:</p>
<pre><code class="lang-shell">mvn spring-boot:<span class="hljs-keyword">run</span><span class="bash"></span>
</code></pre>
<p>The app will start running at <a href="http://localhost:8080">http://localhost:8080</a></p>
<h2 id="running-the-application-via-docker-container">Running the application via docker container</h2>
<ul>
   <li><a href="https://hub.docker.com/repository/docker/anantha/spring-boot-application-template">anantha/spring-boot-application-template</a> - DockerHub Image</li>
</ul>
<p>DockerHub Pull Command</p>
<pre><code class="lang-text">docker pull anantha/spring-boot-<span class="hljs-built_in">application</span>-template
</code></pre>
<p>Ensure you build a jar of the application before building a docker image.  </p>
<pre><code class="lang-text">`mvn package -Dmaven.test.skip=<span class="hljs-literal">true</span>`    //skip all tests <span class="hljs-literal">and</span> build
</code></pre>
<pre><code class="lang-text">`mvn clean <span class="hljs-keyword">package</span>`                     //run <span class="hljs-keyword">all</span> tests <span class="hljs-keyword">and</span> build
</code></pre>
<table>
   <thead>
      <tr>
         <th>Command</th>
         <th>Description</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><code>docker images</code></td>
         <td>take a look at the container images.</td>
      </tr>
      <tr>
         <td><code>docker ps</code></td>
         <td>list all the running containers.</td>
      </tr>
      <tr>
         <td><code>docker ps -a</code></td>
         <td>list all the containers, including the ones that have finished executing.</td>
      </tr>
      <tr>
         <td><code>docker build -t spring-boot-application-template .</code></td>
         <td>Build docker image of the project</td>
      </tr>
      <tr>
         <td><code>docker run spring-boot-application-template</code></td>
         <td>run the project&#39;s docker container</td>
      </tr>
      <tr>
         <td><code>docker stop [container_id]</code></td>
         <td>stop a container</td>
      </tr>
      <tr>
         <td><code>docker rm $(docker ps -aq)</code></td>
         <td>stop and remove all containers</td>
      </tr>
   </tbody>
</table>
<h2 id="security">Security</h2>
<h3 id="looking-for-something-in-particular-">Looking for something in particular?</h3>
<table>
   <thead>
      <tr>
         <th>Security Variation</th>
         <th>Tag</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>Role Based Authentication (In-memory Users)</td>
         <td><a href="https://github.com/Spring-Boot-Framework/Spring-Boot-Application-Template/tags">https://github.com/Spring-Boot-Framework/Spring-Boot-Application-Template/tags</a></td>
      </tr>
      <tr>
         <td>Permission Based Authentication (In-memory Users)</td>
         <td><a href="https://github.com/Spring-Boot-Framework/Spring-Boot-Application-Template/tags">https://github.com/Spring-Boot-Framework/Spring-Boot-Application-Template/tags</a></td>
      </tr>
      <tr>
         <td>Spring Method-Security with @PreAuthorize (In-memory Users)</td>
         <td><a href="https://github.com/Spring-Boot-Framework/Spring-Boot-Application-Template/tags">https://github.com/Spring-Boot-Framework/Spring-Boot-Application-Template/tags</a></td>
      </tr>
      <tr>
         <td>Database Authentication Authorization (In-memory Users)</td>
         <td><a href="https://github.com/Spring-Boot-Framework/Spring-Boot-Application-Template/tags">https://github.com/Spring-Boot-Framework/Spring-Boot-Application-Template/tags</a></td>
      </tr>
      <tr>
         <td>Role, Permission based User Authentication via MySQL</td>
         <td><a href="https://github.com/Spring-Boot-Framework/Spring-Boot-Application-Template/tags">https://github.com/Spring-Boot-Framework/Spring-Boot-Application-Template/tags</a></td>
      </tr>
   </tbody>
</table>
<p>Refer to the <code>ApplicationSecurityConfig</code> class in <code>io.github.anantharajuc.sbat.backend.security</code>.</p>
<table>
   <thead>
      <tr>
         <th>Username</th>
         <th>Password</th>
         <th>Role</th>
         <th>Permission</th>
         <th>Resource</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><code>johndoe</code></td>
         <td><code>password</code></td>
         <td><code>PERSON</code></td>
         <td></td>
         <td><code>/api/v1/person</code></td>
      </tr>
      <tr>
         <td><code>AdminUser</code></td>
         <td><code>password</code></td>
         <td><code>ADMIN</code></td>
         <td><code>PERSON_CREATE,PERSON_READ,PERSON_UPDATE,PERSON_DELETE</code></td>
         <td><code>/management/api/v1/person</code></td>
      </tr>
      <tr>
         <td><code>AdminTraineeUser</code></td>
         <td><code>password</code></td>
         <td><code>ADMINTRAINEE</code></td>
         <td><code>PERSON_READ</code></td>
         <td><code>/management/api/v1/person</code></td>
      </tr>
   </tbody>
</table>
<h3 id="api-rate-limiting">API Rate Limiting</h3>
<p><a href="https://github.com/vladimir-bukhtoyarov/bucket4j">Bucket4j</a> - Rate limiting library based on token/leaky-bucket algorithm - Refer <code>io.github.anantharajuc.sbat.backend.api.rate_limiting package</code></p>
<h3 id="preventing-brute-force-authentication-attempts">Preventing Brute Force Authentication Attempts</h3>
<p>A basic solution for preventing brute force authentication attempts using Spring Security is implemented. The app keeps a record of the number of failed attempts originating from a single IP address. If that particular IP goes over a set number of requests – it will be blocked for a set amount of time.</p>
<p>Refer <code>io.github.anantharajuc.sbat.backend.security.authentication.LoginAttemptService</code></p>
<h3 id="session-timeout">Session Timeout</h3>
<p>If the application remains inactive for a specified period of time, the session will expire. The session after this period of time is considered invalid and the user has to login to the application again.</p>
<p>This value <strong>server.servlet.session.timeout</strong> can be configured in <strong>application.properties</strong> file</p>
<h2 id="explore-rest-apis">Explore Rest APIs</h2>
<p>The app defines following CRUD APIs.</p>
<h3 id="urls">URLs</h3>
<table>
   <thead>
      <tr>
         <th>URL</th>
         <th>Method</th>
         <th>Remarks</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><code>http://localhost:8080/index</code></td>
         <td>GET</td>
         <td>Home Page</td>
      </tr>
      <tr>
         <td><code>http://localhost:8080/sbat/index</code></td>
         <td>GET</td>
         <td>Home Page</td>
      </tr>
      <tr>
         <td><code>http://localhost:8080/sbat/about</code></td>
         <td>GET</td>
         <td>About Page</td>
      </tr>
      <tr>
         <td><code>http://localhost:8080/sbat/tech-stack</code></td>
         <td>GET</td>
         <td>Technology Stack Table</td>
      </tr>
      <tr>
         <td><code>http://localhost:8080/sbat/close</code></td>
         <td>GET</td>
         <td>Close App via Actuator</td>
      </tr>
      <tr>
         <td><code>http://localhost:8080/sbat/login</code></td>
         <td>GET</td>
         <td>Login Page</td>
      </tr>
      <tr>
         <td><code>http://localhost:8080/sbat/error</code></td>
         <td>GET</td>
         <td>Custom Error Page</td>
      </tr>
   </tbody>
</table>
<h3 id="other-urls">Other URLs</h3>
<table>
   <thead>
      <tr>
         <th>URL</th>
         <th>Method</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><code>http://localhost:8080/api/generic-hello</code></td>
         <td>GET</td>
      </tr>
      <tr>
         <td><code>http://localhost:8080/api/personalized-hello/</code></td>
         <td>GET</td>
      </tr>
      <tr>
         <td><code>http://localhost:8080/api/personalized-hello?name=spring-boot</code></td>
         <td>GET</td>
      </tr>
      <tr>
         <td><code>http://localhost:8080/api/loggers</code></td>
         <td>GET</td>
      </tr>
   </tbody>
</table>
<h3 id="actuator">Actuator</h3>
<p>To monitor and manage your application</p>
<table>
   <thead>
      <tr>
         <th>URL</th>
         <th>Method</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><code>http://localhost:8080/actuator/</code></td>
         <td>GET</td>
      </tr>
      <tr>
         <td><code>http://localhost:8080/actuator/health</code></td>
         <td>GET</td>
      </tr>
      <tr>
         <td><code>http://localhost:8080/actuator/info</code></td>
         <td>GET</td>
      </tr>
      <tr>
         <td><code>http://localhost:8080/actuator/prometheus</code></td>
         <td>GET</td>
      </tr>
      <tr>
         <td><code>http://localhost:8080/actuator/httptrace</code></td>
         <td>GET</td>
      </tr>
   </tbody>
</table>
<h3 id="person-urls">Person URLs</h3>
<h4 id="accessible-to-johndoe-user-only">Accessible to <strong>johndoe</strong> user only</h4>
<table>
   <thead>
      <tr>
         <th>URL</th>
         <th>Method</th>
         <th>Remarks</th>
         <th>Sample Valid Request Body</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><code>http://localhost:8080/api/v1/person</code></td>
         <td>GET</td>
         <td>Header <code>Accept:application/json</code> or <code>Accept:application/xml</code> for content negotiation</td>
         <td></td>
      </tr>
      <tr>
         <td><code>http://localhost:8080/api/v1/person</code></td>
         <td>POST</td>
         <td>Add a person</td>
         <td><a href="#personcreate">JSON</a></td>
      </tr>
      <tr>
         <td><code>http://localhost:8080/api/v1/person/{id}</code></td>
         <td>GET</td>
         <td>Header <code>Accept:application/json</code> or <code>Accept:application/xml</code> for content negotiation</td>
         <td></td>
      </tr>
      <tr>
         <td><code>http://localhost:8080/management/api/v1/person/pageable</code></td>
         <td>GET</td>
         <td>Header <code>Accept:application/json</code> or <code>Accept:application/xml</code> for content negotiation</td>
         <td>Pageable API Endpoint</td>
      </tr>
      <tr>
         <td><code>http://localhost:8080/api/v1/person/{id}</code></td>
         <td>PUT</td>
         <td>Update a person</td>
         <td><a href="#personcreate">JSON</a></td>
      </tr>
      <tr>
         <td><code>http://localhost:8080/api/v1/person/{id}</code></td>
         <td>DELETE</td>
         <td>Delete a person</td>
      </tr>
   </tbody>
</table>
<h3 id="person-management-urls">Person Management URLs</h3>
<h4 id="role-and-permission-based-secure-access-to-adminuser-and-admintrainee-users">Role and Permission based secure access to <strong>AdminUser</strong> and <strong>AdminTrainee</strong> users</h4>
<table>
   <thead>
      <tr>
         <th>URL</th>
         <th>Method</th>
         <th>Remarks</th>
         <th>Sample Valid Request Body</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><code>http://localhost:8080/management/api/v1/person</code></td>
         <td>GET</td>
         <td>Header <code>Accept:application/json</code> or <code>Accept:application/xml</code> for content negotiation</td>
         <td></td>
      </tr>
      <tr>
         <td><code>http://localhost:8080/management/api/v1/person</code></td>
         <td>POST</td>
         <td>Add a person</td>
         <td><a href="#personcreate">JSON</a></td>
      </tr>
      <tr>
         <td><code>http://localhost:8080/management/api/v1/person/{id}</code></td>
         <td>GET</td>
         <td>Header <code>Accept:application/json</code> or <code>Accept:application/xml</code> for content negotiation</td>
         <td></td>
      </tr>
      <tr>
         <td><code>http://localhost:8080/management/api/v1/person/pageable</code></td>
         <td>GET</td>
         <td>Header <code>Accept:application/json</code> or <code>Accept:application/xml</code> for content negotiation</td>
         <td>Pageable API Endpoint</td>
      </tr>
      <tr>
         <td><code>http://localhost:8080/management/api/v1/person/{id}</code></td>
         <td>PUT</td>
         <td>Update a person</td>
         <td><a href="#personcreate">JSON</a></td>
      </tr>
      <tr>
         <td><code>http://localhost:8080/management/api/v1/person/{id}</code></td>
         <td>DELETE</td>
         <td>Delete a person</td>
      </tr>
   </tbody>
</table>
<h2 id="sample-valid-json-request-bodys">Sample Valid JSON Request Bodys</h2>
<h5 id="-a-id-personcreate-create-person-api-person-a-"><a id="personcreate">Create Person -&gt; /api/person</a></h5>
<pre><code class="lang-json">{
    <span class="hljs-attr">"name"</span>: <span class="hljs-string">"Jane"</span>,
    <span class="hljs-attr">"username"</span>: <span class="hljs-string">"janejane"</span>,
    <span class="hljs-attr">"emailPrimary"</span>: <span class="hljs-string">"jane1.howell@gmail.com"</span>,
    <span class="hljs-attr">"emailSecondary"</span>: <span class="hljs-string">"jane2.howell@gmail.com"</span>,
    <span class="hljs-attr">"phone"</span>:<span class="hljs-number">9191919191</span>,
    <span class="hljs-attr">"gender"</span>: <span class="hljs-string">"FEMALE"</span>,
    <span class="hljs-attr">"age"</span>: <span class="hljs-number">25</span>,
    <span class="hljs-attr">"password"</span>: <span class="hljs-string">"password"</span>,
    <span class="hljs-attr">"dob"</span>:<span class="hljs-string">"25-12-2005"</span>,
    <span class="hljs-attr">"isAdult"</span>:<span class="hljs-literal">true</span>,
    <span class="hljs-attr">"address"</span>: {
        <span class="hljs-attr">"street"</span>: <span class="hljs-string">"Jane Plains"</span>,
        <span class="hljs-attr">"suite"</span>: <span class="hljs-string">"Suite 779"</span>,
        <span class="hljs-attr">"city"</span>: <span class="hljs-string">"Wisokyburghh"</span>,
        <span class="hljs-attr">"zipcode"</span>: <span class="hljs-string">"90565-7771"</span>,
        <span class="hljs-attr">"geo"</span>: {
            <span class="hljs-attr">"lat"</span>: <span class="hljs-string">"-43.9589"</span>,
            <span class="hljs-attr">"lng"</span>: <span class="hljs-string">"-34.4628"</span>
        }
    }
}
</code></pre>
<h2 id="documentation">Documentation</h2>
<ul>
   <li><a href="https://documenter.getpostman.com/view/2449187/TVCe1UAk">Postman Collection</a> - online, with code auto-generated snippets in cURL, jQuery, Ruby,Python Requests, Node, PHP and Go programming languages</li>
   <li><a href="Spring Boot Application Template.postman_collection">Postman Collection</a> - offline</li>
   <li><a href="http://localhost:8080/swagger-ui.html">Swagger</a> - <code>http://localhost:8080/swagger-ui.html</code>- Documentation &amp; Testing</li>
   <li><a href="http://localhost:8080/v2/api-docs?group=Spring%20Boot%20Application%20Template">Swagger</a> - <code>http://localhost:8080/v2/api-docs?group=Spring%20Boot%20Application%20Template</code>- Documentation &amp; Testing</li>
   <li>Java Doc is generated in <code>Spring-Boot-Application-Template\target\site\apidocs</code> folder using the Maven command </li>
</ul>
<pre><code class="lang-text">`mvn javadoc:javadoc`                   <span class="hljs-comment">//Generate JavaDoc</span>
</code></pre>
<h2 id="eer-diagram">EER Diagram</h2>
<p><img src="/static/images/SBAT-EER-Diagram.png"/></p>
<h2 id="files-and-directories-structure">Files and Directories Structure</h2>
<p>The project (a.k.a. project directory) has a particular directory structure. A representative project is shown below:</p>
<pre><code class="lang-text">.
├── Spring Elements
├── src
│   └── main
│       └── java
│           ├── io<span class="hljs-selector-class">.github</span><span class="hljs-selector-class">.anantharajuc</span><span class="hljs-selector-class">.sbtest</span>
│           │   │ 
│           │   ├──io<span class="hljs-selector-class">.github</span><span class="hljs-selector-class">.anantharajuc</span><span class="hljs-selector-class">.sbtest</span><span class="hljs-selector-class">.auditing</span>
│           │   │ 
│           │   ├──io<span class="hljs-selector-class">.github</span><span class="hljs-selector-class">.anantharajuc</span><span class="hljs-selector-class">.sbtest</span><span class="hljs-selector-class">.security</span><span class="hljs-selector-class">.authorization</span>
│           │   │ 
│           │   ├──io<span class="hljs-selector-class">.github</span><span class="hljs-selector-class">.anantharajuc</span><span class="hljs-selector-class">.sbtest</span><span class="hljs-selector-class">.backend</span>
│           │   │     │    
│           │   │     ├──io<span class="hljs-selector-class">.github</span><span class="hljs-selector-class">.anantharajuc</span><span class="hljs-selector-class">.sbtest</span><span class="hljs-selector-class">.person</span>
│           │   │     │
│           │   │     └──io<span class="hljs-selector-class">.github</span><span class="hljs-selector-class">.anantharajuc</span><span class="hljs-selector-class">.sbtest</span><span class="hljs-selector-class">.backend</span><span class="hljs-selector-class">.persistence</span><span class="hljs-selector-class">.repositories</span>
│           │   │
│           │   └──io<span class="hljs-selector-class">.github</span><span class="hljs-selector-class">.anantharajuc</span><span class="hljs-selector-class">.sbtest</span><span class="hljs-selector-class">.backend</span><span class="hljs-selector-class">.service</span>
│           │
│           ├── io<span class="hljs-selector-class">.github</span><span class="hljs-selector-class">.anantharajuc</span><span class="hljs-selector-class">.sbtest</span><span class="hljs-selector-class">.util</span><span class="hljs-selector-class">.config</span>
│           │
│           ├── io<span class="hljs-selector-class">.github</span><span class="hljs-selector-class">.anantharajuc</span><span class="hljs-selector-class">.sbtest</span><span class="hljs-selector-class">.enums</span>
│           │
│           ├── io<span class="hljs-selector-class">.github</span><span class="hljs-selector-class">.anantharajuc</span><span class="hljs-selector-class">.sbtest</span><span class="hljs-selector-class">.exception</span>
│           │
│           ├── io<span class="hljs-selector-class">.github</span><span class="hljs-selector-class">.anantharajuc</span><span class="hljs-selector-class">.sbtest</span><span class="hljs-selector-class">.security</span>
│           │
│           ├── io<span class="hljs-selector-class">.github</span><span class="hljs-selector-class">.anantharajuc</span><span class="hljs-selector-class">.sbtest</span><span class="hljs-selector-class">.util</span>
│           │
│           └── io<span class="hljs-selector-class">.github</span><span class="hljs-selector-class">.anantharajuc</span><span class="hljs-selector-class">.sbtest</span><span class="hljs-selector-class">.web</span>
│               │
│                ├── io<span class="hljs-selector-class">.github</span><span class="hljs-selector-class">.anantharajuc</span><span class="hljs-selector-class">.sbtest</span><span class="hljs-selector-class">.web</span><span class="hljs-selector-class">.controllers</span>
│               │
│                └── io<span class="hljs-selector-class">.github</span><span class="hljs-selector-class">.anantharajuc</span><span class="hljs-selector-class">.sbtest</span><span class="hljs-selector-class">.web</span><span class="hljs-selector-class">.domain</span><span class="hljs-selector-class">.frontend</span>
├── src
│   └── main
│       └── resources
│           ├── data
│           │   └── mysql
│           │       └── migrations
│           │           ├── V0_0_1__initialize_structure<span class="hljs-selector-class">.sql</span>
│           │           └── V0_0_2__audit_structure<span class="hljs-selector-class">.sql</span>
│           │           └── V0_0_3__populate_data<span class="hljs-selector-class">.sql</span>
│           │           └── V0_0_4__data_geo<span class="hljs-selector-class">.sql</span>
│           │           └── V0_0_5__data_address<span class="hljs-selector-class">.sql</span>
│           │           └── V0_0_6__data_person<span class="hljs-selector-class">.sql</span>
│           │           └── V0_0_7__data_security<span class="hljs-selector-class">.sql</span>
│           ├── i18n
│           │   └── messages<span class="hljs-selector-class">.properties</span>
│           │   └── messages_es<span class="hljs-selector-class">.properties</span>
│           ├── static
│           │   ├── css
│           │   ├── images
│           │   ├── js
│           │   └── favicon<span class="hljs-selector-class">.ico</span>
│           ├── templates
│           │   ├── fragments
│           │   │   ├── body_scripts<span class="hljs-selector-class">.html</span>
│           │   │   ├── <span class="hljs-selector-tag">footer</span><span class="hljs-selector-class">.html</span>
│           │   │   ├── htmlhead<span class="hljs-selector-class">.html</span>
│           │   │   ├── navigation<span class="hljs-selector-class">.html</span>
│           │   │   ├── pagetitle<span class="hljs-selector-class">.html</span>
│           │   │   └── social_buttons<span class="hljs-selector-class">.html</span>
│           │   │   
│           │   ├── pages
│           │   │   ├── about<span class="hljs-selector-class">.html</span>
│           │   │   ├── built_with<span class="hljs-selector-class">.html</span>
│           │   │   ├── close<span class="hljs-selector-class">.html</span>
│           │   │   ├── <span class="hljs-selector-tag">form</span><span class="hljs-selector-class">.html</span>
│           │   │   ├── index<span class="hljs-selector-class">.html</span>
│           │   │   ├── login<span class="hljs-selector-class">.html</span>
│           │   │   └── settings<span class="hljs-selector-class">.html</span>
│           │   │   
│           │   ├── error<span class="hljs-selector-class">.html</span>
│           │   └── layout<span class="hljs-selector-class">.html</span>
│           │   
│           ├── application-dev<span class="hljs-selector-class">.properties</span>
│           ├── application-production<span class="hljs-selector-class">.properties</span>
│           ├── application-qa<span class="hljs-selector-class">.properties</span>
│           ├── application-staging<span class="hljs-selector-class">.properties</span>
│           ├── application<span class="hljs-selector-class">.properties</span>
│           ├── banner<span class="hljs-selector-class">.txt</span>
│           └── log4j2<span class="hljs-selector-class">.xml</span>
├── src
│   └── test
│       └── java/io/github/anantharajuc/sbtest/service
│           └── PersonServiceImpl<span class="hljs-selector-class">.test</span>
├── JRE System Library
├── Maven Dependencies
├── bin
├── logs
│   └── application<span class="hljs-selector-class">.log</span>
├── src
├── target
│   └──application-<span class="hljs-number">0.0</span>.<span class="hljs-number">1</span>-SNAPSHOT
├── mvnw
├── mvnw<span class="hljs-selector-class">.cmd</span>
├── pom<span class="hljs-selector-class">.xml</span>
└── README.md
</code></pre>
<h2 id="packages">Packages</h2>
<ul>
   <li><code>api</code> - API utilities;</li>
   <li><code>rate_limiting</code> - API rate limiting;</li>
   <li><code>auditing</code> - data entity auditing;</li>
   <li><code>authentication</code> - application user authentication;</li>
   <li><code>configuration</code> - app configurations;</li>
   <li><code>controllers</code> - to listen to the client;</li>
   <li><code>exception</code> - to hold custom exception handling;</li>
   <li><code>models</code> - to hold our entities;</li>
   <li><code>repository</code> - to communicate with the database;</li>
   <li><code>security</code> - security configuration;</li>
   <li><code>service</code> - to hold business logic;</li>
   <li>
      <p><code>util</code> - to hold our utility classes;</p>
   </li>
   <li>
      <p><code>resources/</code> - Contains all the static resources, templates and property files.</p>
   </li>
   <li><code>resources/data/mysql.migrations/</code> - Contains initial table structure &amp; table data - used by flyway.</li>
   <li><code>resources/static</code> - contains static resources such as css, js and images.</li>
   <li><code>resources/templates</code> - contains server-side templates which are rendered by Spring.</li>
   <li><code>resources/templates/fragments</code> - contains reusable code fragments.</li>
   <li><code>resources/templates/pages</code> - contains server-side templates built using fragments.</li>
   <li>
      <p><code>resources/application.properties</code> - It contains application-wide properties. Spring reads the properties defined in this file to configure your application. You can define server’s default port, server’s context path, database URLs etc, in this file.</p>
   </li>
   <li>
      <p><code>test/</code> - contains unit and integration tests</p>
   </li>
   <li>
      <p><code>pom.xml</code> - contains all the project dependencies</p>
   </li>
</ul>
<h2 id="reporting-issues-suggest-improvements">Reporting Issues/Suggest Improvements</h2>
<p>This Project uses GitHub&#39;s integrated issue tracking system to record bugs and feature requests. If you want to raise an issue, please follow the recommendations below:</p>
<ul>
   <li>Before you log a bug, please <a href="https://github.com/AnanthaRajuC/Spring-Boot-Application-Template/search?type=Issues">search the issue tracker</a> to see if someone has already reported the problem.</li>
   <li>If the issue doesn&#39;t already exist, <a href="https://github.com/AnanthaRajuC/Spring-Boot-Application-Template/issues/new">create a new issue</a></li>
   <li>Please provide as much information as possible with the issue report.</li>
   <li>If you need to paste code, or include a stack trace use Markdown +++```+++ escapes before and after your text.</li>
</ul>
<h2 id="fossa-third-party-code-license-compliance-and-vulnerabilities">FOSSA third-party code, license compliance and vulnerabilities</h2>
<p><a href="https://app.fossa.io/projects/git%2Bgithub.com%2FSpring-Boot-Framework%2FSpring-Boot-Application-Template?ref=badge_large"><img src="https://app.fossa.io/api/projects/git%2Bgithub.com%2FSpring-Boot-Framework%2FSpring-Boot-Application-Template.svg?type=large" alt="FOSSA Status"></a></p>
	
	<!-- README.md end   -->
	  
	</div>
    </div>
</body>
	
</th:block>
	
</html>