<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
			    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
			    xmlns:with="http://www.thymeleaf.org/extras/with"
			   layout:decorate="~{layout}"
				 with:title="'Close'">
	  
	<th:block layout:fragment="content">

	<h1 class="display-4">Application Closed Successfully.</h1>
	<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
	<hr class="my-4">
	<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>

	<!-- Social -->
	<div align="center">
		<a class="fb-ic mr-3" role="button"><i class="fab fa-lg fa-facebook-f"></i></a>
		<a class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
		<a class="gplus-ic mr-3" role="button"><i class="fab fa-lg fa-google-plus-g"></i></a>
		<a class="li-ic mr-3" role="button"><i class="fab fa-lg fa-linkedin-in"></i></a>
		<a class="ins-ic mr-3" role="button"><i class="fab fa-lg fa-instagram"></i></a>
		<a class="pin-ic mr-3" role="button"><i class="fab fa-lg fa-pinterest"></i></a>
		<a class="vk-ic mr-3" role="button"><i class="fab fa-lg fa-vk"></i></a>
		<a class="so-ic mr-3" role="button"><i class="fab fa-lg fa-stack-overflow"></i></a>
		<a class="yt-ic mr-3" role="button"><i class="fab fa-lg fa-youtube"></i></a>
		<a class="slack-ic mr-3" role="button"><i class="fab fa-lg fa-slack-hash"></i></a>
		<a class="git-ic mr-3" role="button"><i class="fab fa-lg fa-github"></i></a>
		<a class="comm-ic mr-3" role="button"><i class="fas fa-lg fa-comments"></i></a>
		<a class="email-ic mr-3" role="button"><i class="far fa-lg fa-envelope"></i></a>
		<a class="dribbble-ic mr-3" role="button"><i class="fab fa-lg fa-dribbble"></i></a>
		<a class="reddit-ic mr-3" role="button"><i class="fab fa-lg fa-reddit-alien"></i></a>
		<a class="whatsapp-ic" role="button"><i class="fab fa-lg fa-whatsapp"></i></a>
	</div>
	
	</th:block>
	
</html>