<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
			    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
			    xmlns:with="http://www.thymeleaf.org/extras/with"
			   layout:decorate="~{layout}"
			   with:title="'Home'">

<th:block layout:fragment="content">

<div class="view" style="background-image: url('/images/Savin-NY-Website-Background-Web.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

<div class="container">

<!-- Jumbotron -->
<div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/forest2.jpg);">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <!-- Content -->
      <h5 class="h5 orange-text"><i class="fas fa-camera-retro"></i> Web Application</h5>
      <h2 class="card-title h2 my-4 py-2" th:text="${site_settings.SiteTitle}"></h2>
	  <p class="mb-4 pb-2 px-md-5 mx-md-5" th:text="${site_settings.SiteDescription}"></p>
      <a class="btn peach-gradient" href="https://github.com/Spring-Boot-Framework/Spring-Boot-Application-Template"><i class="fas fa-clone left"></i> View project</a>

    </div>
  </div>
</div>
<!-- Jumbotron -->

</br>

<!--<div class="jumbotron">
	<h1 th:text="#{index.main.callout}" />
</div>-->

<div class="d-flex justify-content-center align-items-center">
  <div class="col-auto mb-3">
    <div class="card shadow bg-white rounded" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">App Screenshots</h5>
        <p class="card-text">Screenshots of various screens of the app</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
	</br>
	<div class="card shadow bg-white rounded" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Lorem ipsum dolor</h5>
        <p class="card-text">consectetur adipiscing elit. Pellentesque faucibus</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
  </br>
  <div class="col-auto mb-3">
    <div class="card shadow bg-white rounded" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">sodales non. Maecenas</h5>
        <p class="card-text">elit nec elementum commodo. Suspendisse eget</p>
        <a href="#" class="btn btn-primary">Ut felis</a>
      </div>
    </div>
	</br>
	<div class="card shadow bg-white rounded" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">orbi tristique mauri</h5>
        <p class="card-text">pien suscipit varius. Nullam dolor arc</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
  </br>
  <div class="col-auto mb-3">
    <div class="card shadow bg-white rounded" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">agittis arcu ornar</h5>
        <p class="card-text">aesent eget lacus sagittis, bibendum eros id, commodtent.</p>
        <a href="#" class="btn btn-primary">Pellentesque varius</a>
      </div>
    </div>
	</br>
	</br>
	<div class="card shadow bg-white rounded" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">eger ut scelerisque ju</h5>
        <p class="card-text">ugiat consequat tempor. Aliquam porta volutpat odio eu egest.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
  </br>
</div>

	<section class="cta-section text-center py-5 theme-bg-dark position-relative">
	    <div class="container">
		    <h3 class="mb-2 text-black mb-3">Launch Your Software Project Like A Pro</h3>
		    <div class="section-intro text-black mb-3 single-col-max mx-auto">Want to launch your software project and start getting traction from your target users? Check out our premium <a class="text-black" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/coderpro-bootstrap-4-startup-template-for-software-projects/">Bootstrap 4 startup template CoderPro</a>! It has everything you need to promote your product.</div>
		    <div class="pt-3 text-center">
			    <a class="btn btn-light" href="https://github.com/Spring-Boot-Framework/Spring-Boot-Application-Template">Get Code<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
		    </div>
	    </div>
    </section>
	
	</div>

</div>

</th:block>
	
</html>