<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
			    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
			    xmlns:with="http://www.thymeleaf.org/extras/with"
			   layout:decorate="~{layout}"
			   with:title="'Persons'">

<th:block layout:fragment="content">

<h1>Persons List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="person, iStat : ${personPage.content}"
                th:style="${iStat.odd}? 'font-weight: bold;'"
                th:alt-title="${iStat.even}? 'even' : 'odd'">
                <td th:text="${person.id}" />
                <td th:text="${person.name}" />
            </tr>
        </tbody>
    </table>
    <div th:if="${personPage.totalPages > 0}" class="pagination"
        th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/sbat/listPersons(size=${personPage.size}, page=${pageNumber})}"
            th:text=${pageNumber}
            th:class="${pageNumber==personPage.number + 1} ? active"></a>
    </div>

</th:block>
	
</html>