<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
			    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
			    xmlns:with="http://www.thymeleaf.org/extras/with"
			   layout:decorate="~{layout}"
			   with:title="'About'">

<th:block layout:fragment="content">

<body data-spy="scroll" data-target="#toc">

	
    <!-- main content area -->
    <div class="col-sm-9">

	<!-- README.ms start -->
	
	<table>
   <thead>
      <tr>
         <th>Service</th>
         <th>Badge</th>
         <th>Badge</th>
         <th>Badge</th>
         <th>Badge</th>
         <th>Badge</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><strong>GitHub</strong></td>
         <td><a href="https://github.com/Spring-Boot-Framework/Spring-Boot-Application-Template/commits/master"><img src="https://img.shields.io/github/last-commit/anantharajuc/Spring-Boot-Application-Template" alt="GitHub last commit"></a></td>
         <td><a href="https://github.com/Spring-Boot-Framework/Spring-Boot-Application-Template/pulls"><img src="https://img.shields.io/github/issues-pr-raw/Spring-Boot-Framework/Spring-Boot-Application-Template" alt="GitHub pull requests"></a></td>
         <td><a href="https://github.com/Spring-Boot-Framework/Spring-Boot-Application-Template/issues"><img src="https://img.shields.io/github/issues/Spring-Boot-Framework/Spring-Boot-Application-Template" alt="GitHub issues"></a></td>
         <td><a href="https://github.com/Spring-Boot-Framework/Spring-Boot-Application-Template/network"><img src="https://img.shields.io/github/forks/Spring-Boot-Framework/Spring-Boot-Application-Template" alt="GitHub forks"></a></td>
         <td><a href="https://github.com/Spring-Boot-Framework/Spring-Boot-Application-Template/stargazers"><img src="https://img.shields.io/github/stars/Spring-Boot-Framework/Spring-Boot-Application-Template" alt="GitHub stars"></a></td>
      </tr>
	  </br>
	  </br>
      <tr>
         <td><strong>GitHub</strong></td>
         <td><img src="https://img.shields.io/github/repo-size/Spring-Boot-Framework/Spring-Boot-Application-Template" alt="GitHub repo size"></td>
         <td><img src="https://img.shields.io/github/languages/top/Spring-Boot-Framework/Spring-Boot-Application-Template.svg" alt="GitHub top language"></td>
         <td><img src="https://img.shields.io/github/languages/code-size/Spring-Boot-Framework/Spring-Boot-Application-Template" alt="GitHub code size in bytes"></td>
         <td><img src="https://img.shields.io/github/tag/Spring-Boot-Framework/Spring-Boot-Application-Template.svg" alt="GitHub tag (latest SemVer)"></td>
         <td><img src="https://img.shields.io/github/languages/count/Spring-Boot-Framework/Spring-Boot-Application-Template" alt="GitHub language count"></td>
      </tr>
      <tr>
         <td><strong>Build/Quality</strong></td>
         <td><a href="https://circleci.com/gh/Spring-Boot-Framework/Spring-Boot-Application-Template"><img src="https://circleci.com/gh/Spring-Boot-Framework/Spring-Boot-Application-Template.svg?style=svg" alt="Spring-Boot-Framework"></a></td>
         <td><a href="https://bettercodehub.com/"><img src="https://bettercodehub.com/edge/badge/Spring-Boot-Framework/Spring-Boot-Application-Template?branch=master" alt="BCH compliance"></a></td>
         <td><a href="https://www.codacy.com/gh/Spring-Boot-Framework/Spring-Boot-Application-Template?utm_source=github.com&amp;utm_medium=referral&amp;utm_content=Spring-Boot-Framework/Spring-Boot-Application-Template&amp;utm_campaign=Badge_Grade"><img src="https://app.codacy.com/project/badge/Grade/4bc5385252064f0e908f445b1eba184b" alt="Codacy Badge"></a></td>
         <td><a href="https://codecov.io/gh/Spring-Boot-Framework/Spring-Boot-Application-Template"><img src="https://codecov.io/gh/Spring-Boot-Framework/Spring-Boot-Application-Template/branch/master/graph/badge.svg" alt="codecov"></a></td>
         <td><a href="https://sonarcloud.io/dashboard?id=Spring-Boot-Framework_Spring-Boot-Application-Template"><img src="https://sonarcloud.io/api/project_badges/measure?project=Spring-Boot-Framework_Spring-Boot-Application-Template&amp;metric=alert_status" alt="Quality Gate Status"></a></td>
      </tr>
      <tr>
         <td><strong>Others</strong></td>
         <td><a href="https://www.codetriage.com/spring-boot-framework/spring-boot-application-template"><img src="https://www.codetriage.com/spring-boot-framework/spring-boot-application-template/badges/users.svg" alt="Open Source Helpers"></a></td>
         <td><a href="https://app.getpostman.com/run-collection/485bb945b088c6fd471e"><img src="https://run.pstmn.io/button.svg" alt="Run in Postman"></a></td>
         <td><a href="https://gitpod.io/#https://github.com/Spring-Boot-Framework/Spring-Boot-Application-Template"><img src="https://img.shields.io/badge/Gitpod-ready--to--code-blue?logo=gitpod" alt="Gitpod ready-to-code"></a></td>
         <td><a href="https://app.fossa.io/projects/git%2Bgithub.com%2FSpring-Boot-Framework%2FSpring-Boot-Application-Template?ref=badge_shield"><img src="https://app.fossa.io/api/projects/git%2Bgithub.com%2FSpring-Boot-Framework%2FSpring-Boot-Application-Template.svg?type=shield" alt="FOSSA Status"></a></td>
         <td><a href="code_of_conduct.md"><img src="https://img.shields.io/badge/Contributor%20Covenant-v2.0%20adopted-ff69b4.svg" alt="Contributor Covenant"></a></td>
      </tr>
      <tr>
         <td><strong>Tech</strong></td>
         <td><img src="https://img.shields.io/badge/license-MIT-blue.svg" alt="License"></td>
         <td><img src="https://img.shields.io/badge/Material%20Design-UI-orange.svg" alt="Material"></td>
         <td><img src="https://img.shields.io/badge/Bootstrap-v4.0.0-yellowgreen.svg" alt="Bootstrap"></td>
         <td><img src="https://img.shields.io/badge/Java-v1.8-orange.svg" alt="Java"></td>
      </tr>
      <tr>
         <td><strong>Docker</strong></td>
         <td><img src="https://img.shields.io/badge/Docker-v19-yellowgreen.svg" alt="Docker"></td>
         <td><a href="https://microbadger.com/images/anantha/spring-boot-application-template"><img src="https://images.microbadger.com/badges/image/anantha/spring-boot-application-template.svg" alt=""></a></td>
         <td><a href="https://microbadger.com/images/anantha/spring-boot-application-template"><img src="https://images.microbadger.com/badges/version/anantha/spring-boot-application-template.svg" alt=""></a></td>
         <td><img src="https://img.shields.io/docker/image-size/anantha/spring-boot-application-template" alt="Docker Image Size (latest by date)"></td>
      </tr>
      <tr>
         <td><strong>Security</strong></td>
         <td><a href="https://github.com/Spring-Boot-Framework/Spring-Boot-Application-Template/issues"><img src="https://depshield.sonatype.org/badges/Spring-Boot-Framework/Spring-Boot-Application-Template/depshield.svg" alt="DepShield Badge"></a></td>
         <td><a href="https://snyk.io/test/github/Spring-Boot-Framework/Spring-Boot-Application-Template"><img src="https://snyk.io/test/github/Spring-Boot-Framework/Spring-Boot-Application-Template/badge.svg" alt="Known Vulnerabilities"></a></td>
      </tr>
      <tr>
         <td><strong>lgtm</strong></td>
         <td><a href="https://lgtm.com/projects/g/Spring-Boot-Framework/Spring-Boot-Application-Template?mode=list"><img src="https://badgen.net/lgtm/langs/g/Spring-Boot-Framework/Spring-Boot-Application-Template" alt="lgtm-languages"></a></td>
         <td><a href="https://lgtm.com/projects/g/Spring-Boot-Framework/Spring-Boot-Application-Template?mode=list"><img src="https://badgen.net/lgtm/alerts/g/Spring-Boot-Framework/Spring-Boot-Application-Template" alt="lgtm-alerts"></a></td>
         <td><a href="https://lgtm.com/projects/g/Spring-Boot-Framework/Spring-Boot-Application-Template?mode=list"><img src="https://badgen.net/lgtm/lines/g/Spring-Boot-Framework/Spring-Boot-Application-Template" alt="lgtm-lines"></a></td>
         <td><a href="https://lgtm.com/projects/g/Spring-Boot-Framework/Spring-Boot-Application-Template?mode=list"><img src="https://badgen.net/lgtm/lines/g/Spring-Boot-Framework/Spring-Boot-Application-Template/java" alt="lgtm-lines-java"></a></td>
         <td><a href="https://lgtm.com/projects/g/Spring-Boot-Framework/Spring-Boot-Application-Template?mode=list"><img src="https://badgen.net/lgtm/grade/g/Spring-Boot-Framework/Spring-Boot-Application-Template" alt="lgtm-grade"></a></td>
      </tr>
   </tbody>
</table>
<p><a href="https://twitter.com/intent/tweet?text=Checkout+this+recipe+for+bootstrapping+a+%40springboot+based+monolithic+web+application&amp;url=https://github.com/Spring-Boot-Framework/Spring-Boot-Application-Template&amp;hashtags=SpringBoot"><img src="https://img.shields.io/twitter/url/http/shields.io.svg?style=social" alt="Tweet"></a> <a href="https://twitter.com/anantharajuc"><img src="https://img.shields.io/twitter/follow/anantharajuc?label=follow%20me&amp;style=social" alt="Twitter Follow"></a>  </p>

	<!-- README.md end   -->
	  
	</div>
    </div>
</body>
	
</th:block>
	
</html>